In [1]:
import pandas as pd
import numpy as np

In [2]:
bitcoindata=pd.read_csv("bitcoin_price_Training - bitcoin_price.2013Apr-2017Aug.csv.csv")
bitcoindata

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Jul 31, 2017",2763.24,2889.62,2720.61,2875.34,"860,575,000","45,535,800,000"
1,"Jul 30, 2017",2724.39,2758.53,2644.85,2757.18,"705,943,000","44,890,700,000"
2,"Jul 29, 2017",2807.02,2808.76,2692.80,2726.45,"803,746,000","46,246,700,000"
3,"Jul 28, 2017",2679.73,2897.45,2679.73,2809.01,"1,380,100,000","44,144,400,000"
4,"Jul 27, 2017",2538.71,2693.32,2529.34,2671.78,"789,104,000","41,816,500,000"
...,...,...,...,...,...,...,...
1551,"May 02, 2013",116.38,125.60,92.28,105.21,-,"1,292,190,000"
1552,"May 01, 2013",139.00,139.89,107.72,116.99,-,"1,542,820,000"
1553,"Apr 30, 2013",144.00,146.93,134.05,139.00,-,"1,597,780,000"
1554,"Apr 29, 2013",134.44,147.49,134.00,144.54,-,"1,491,160,000"
1555,"Apr 28, 2013",135.30,135.98,132.10,134.21,-,"1,500,520,000"

In [3]:
bitcoindata.drop(columns=['Date','Market Cap','Volume'],inplace=True)
print(bitcoindata.head(66))

       Open     High      Low    Close
0   2763.24  2889.62  2720.61  2875.34
1   2724.39  2758.53  2644.85  2757.18
2   2807.02  2808.76  2692.80  2726.45
3   2679.73  2897.45  2679.73  2809.01
4   2538.71  2693.32  2529.34  2671.78
..      ...      ...      ...      ...
61  2187.19  2311.08  2145.57  2286.41
62  2255.36  2301.96  2124.57  2175.47
63  2159.43  2307.05  2107.17  2255.61
64  2054.08  2267.34  2054.08  2155.80
65  2196.27  2260.20  1855.83  2038.87

[66 rows x 4 columns]

In [5]:
bitcoindata.columns[bitcoindata.isna().any()]

Index([], dtype='object')

In [8]:
Xtrain=bitcoindata.drop(columns="Close",inplace=True)

None

In [9]:
Y_train=pd.read_csv("bitcoin_price_Training - bitcoin_price.2013Apr-2017Aug.csv.csv")
Y_train.drop(columns=["Date","Open","High","Low","Volume","Market Cap"],inplace=True)
Y_train

        Close
0     2875.34
1     2757.18
2     2726.45
3     2809.01
4     2671.78
...       ...
1551   105.21
1552   116.99
1553   139.00
1554   144.54
1555   134.21

[1556 rows x 1 columns]

In [10]:
from sklearn.svm import SVR
model=SVR()
model.fit(bitcoindata,Y_train)

C:\Users\subin\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

SVR()

In [11]:
Xtest=pd.read_csv("bitcoin_price_1week_Test - bitcoin_price_Aug2017_1week.csv")
Xtest.drop(columns=["Date","Close","Volume","Market Cap"],inplace=True)
Xtest

      Open     High      Low
0  3212.78  3397.68  3180.89
1  3257.61  3293.29  3155.60
2  2897.63  3290.01  2874.83
3  2806.93  2899.33  2743.72
4  2709.56  2813.31  2685.14
5  2727.13  2762.53  2668.59
6  2871.30  2921.35  2685.61

In [12]:
Ytest=pd.read_csv("bitcoin_price_1week_Test - bitcoin_price_Aug2017_1week.csv")
Ytest.drop(columns=["Date","Open","High","Low","Volume","Market Cap"],inplace=True)
Ytest

     Close
0  3378.94
1  3213.94
2  3252.91
3  2895.89
4  2804.73
5  2710.67
6  2718.26

In [13]:
y_predict=model.predict(Xtest)

from sklearn.metrics import r2_score,mean_squared_error
mse=mean_squared_error(Ytest,y_predict)
rmse=np.sqrt(mse)
print("root mrean squared error =",rmse)
r2score=r2_score(Ytest,y_predict)
print("r2score=",r2score*100)

root mrean squared error = 2399.1107162360627
r2score= -8558.93842071275