In [1]:
import pandas as pd
import numpy as np

In [2]:
hwdataset=pd.read_csv("hw_25000.csv")
hwdataset

       Index    Height    Weight
0          1  65.78331  112.9925
1          2  71.51521  136.4873
2          3  69.39874  153.0269
3          4  68.21660  142.3354
4          5  67.78781  144.2971
...      ...       ...       ...
24995  24996  69.50215  118.0312
24996  24997  64.54826  120.1932
24997  24998  64.69855  118.2655
24998  24999  67.52918  132.2682
24999  25000  68.87761  124.8742

[25000 rows x 3 columns]

In [3]:
hwdataset.drop(columns="Index",inplace=True)

In [15]:
hwdataset

         Height    Weight
0      65.78331  112.9925
1      71.51521  136.4873
2      69.39874  153.0269
3      68.21660  142.3354
4      67.78781  144.2971
...         ...       ...
24995  69.50215  118.0312
24996  64.54826  120.1932
24997  64.69855  118.2655
24998  67.52918  132.2682
24999  68.87761  124.8742

[25000 rows x 2 columns]

In [5]:
x_height=hwdataset.iloc[:,:-1].values
x_height

array([[65.78331],
       [71.51521],
       [69.39874],
       ...,
       [64.69855],
       [67.52918],
       [68.87761]])

In [6]:
y_weight=hwdataset.iloc[:,-1].values
y_weight

array([112.9925, 136.4873, 153.0269, ..., 118.2655, 132.2682, 124.8742])

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_height,y_weight,test_size=0.20,random_state=0)

In [8]:
from sklearn.tree import DecisionTreeRegressor
model=DecisionTreeRegressor()
model.fit(x_train,y_train)

DecisionTreeRegressor()

In [11]:
predict_y=model.predict(x_test)
predict
from sklearn.metrics import r2_score,mean_squared_error
mse=mean_squared_error(y_test,predict)
rmse=np.sqrt(mse)
print("root mrean squared error =",rmse)
r2score=r2_score(y_test,predict)
print("r2score=",r2score*100)

root mrean squared error = 14.17672357535782
r2score= -41.79449986983856